[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio Canary
Icon=/android-studio/bin/studio.png
Exec="/android-studio/bin/studio.sh" %f
Comment=Android Studio Canary
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-studio
